<mat-card *ngIf="dataLoaded">
  <mat-card-title>Edit a User</mat-card-title>
  <mat-card-content>
    <form [formGroup]="editUserForm" (submit)="updateUser()">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="name" formControlName="name">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>
      
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="name@company.com" formControlName="email">
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
      </p>
      
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Phone Number" formControlName="phone">
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <button mat-flat-button color="primary">Update User</button>
      </p>
    </form>
  </mat-card-content>
</mat-card>